In [ ]:
%pip install seaborn

In [2]:
import seaborn as sns
import matplotlib as plt
import pandas as pd

In [3]:
### Basic plotting with seaborn
tips= sns.load_dataset("tips")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
# Create scatter plot
sns.scatterplot(x="total_bill",y="tip",data=tips)

In [ ]:
## Line Plot
sns.lineplot(x="size",y="total_bill",data=tips)

In [ ]:
## Categorial plot
## Bar Plot

sns.barplot(x="day",y="total_bill",data=tips)

In [ ]:
## Box Plot
sns.boxplot(x="day",y="total_bill",data=tips)

In [ ]:
## Violin Plot
# sns.violinplot(x="day",y="total_bill",data=tips)
sns.violinplot(x=tips["day"],y=tips["total_bill"])

In [ ]:
## Histogram
sns.histplot(tips["total_bill"],bins=10,kde=True)

In [ ]:
## KDE Plot
sns.kdeplot(tips["total_bill"],fill=True)

In [ ]:
## Pair Plot
sns.pairplot(tips)

In [ ]:
## Heatmap
corr=tips[["total_bill","tip","size"]].corr()
corr

In [ ]:
sns.heatmap(corr,annot=True,cmap="coolwarm")